*{
    background: #FFE521;
    font-family: 'Arial Narrow Bold';
    font-size:30px;
    margin: 10px;
}

h1 {
    font-size: 50px;
    color: #fff;
    text-shadow: black 2px 2px 3px;
    text-align: center;
    margin: auto;
}

h3 {
    text-align: center;
    display: block;
    font-weight: bold;
}

div{
    margin: auto;
}
.si {
    border-radius: 8px;  
    font-size: 20px;
    display: inline;
    border: 2px solid rgb(104, 38, 79) ;
    text-align: center;
    width: 150px;
    padding: 10px;
    margin: 10px 2px 30px 500px;
    background-color: rgb(104, 38, 79);
    color: white;
    font-family: arial,black;
} 

.no{
    border-radius: 8px;  
    font-size: 20px;
    display:inline-block;
    border: 2px solid rgb(104, 38, 79) ;
    text-align: center;
    width: 150px;
    padding: 10px;
    margin: 10px 500px 30px 10px;
    background-color: rgb(104, 38, 79);
    color: white;
    font-family: arial,black;
}

  button:hover{
     font-weight: bold;  
     background-color: rgb(255, 235, 83);
     color: rgb(104, 38, 79);
     border: 3px;
  }

#mal{ 
   border-radius: 8px;
   background-color: rgb(255, 235, 83);  
   float: left; 
   display: inline-table;
   text-align: center;
   width: 600px;
 } 
#bien{
    margin-left: 50px;
    border-radius: 8px;
    background-color: rgb(255, 235, 83);
    float: left;
    display: inline-table;
    text-align: center;
    width: 600px;
}